<h2>Features</h2>
					<ul>
						<li><a href="#">Access of all data via the web</a></li>
						<li><a href="#">Manage patients and therapists</a></li>
						<li><a href="#">Manage visits and authorization periods</a></li>
						<li><a href="#">Archive and print visits in PDF format</a></li>
						<li><a href="#">Secure, convenient, and economical</a></li>
					</ul>
