<h2>Features</h2>
	<ul class="features">
		<li>Access of all data via the web</li>
		<li>Manage patients and therapists</li>
		<li>Manage visits and authorization periods</li>
		<li>Archive and print visits in PDF format</li>
		<li>Secure, convenient, and economical</li>
	</ul>
