<div class="entry">
	<p><strong>ezSLP</strong> visitracker application is a software product designed for small and medium
          sized Speech Language Pathologist agencies and their practices. The goal is to provide a SIMPLE software
          application that can be used by SLP's and NOT administrators to manage their practices. You can create an account by the clicking the 'try it for free' link above. If you have questions or would like more information email info@ezslp.com</p>
<br/>
<ul>
<h2>What is ezSLP?</h2>
<li>ezSLP is web-based software that manages speech therapy clinics and is available from any device with an internet connection.
<br/><br/>
<h2>How does it work?</h2>
<li>ezSLP is easy to use. There is no hardware to buy or software to install. <a href="http://youtu.be/jd3ko-eoQw0">Here</a> is a screencast on how you can get started in just a few minutes.
<br/><br/>
<h2>Is my data safe?</h2>
<li>ezSLP uses SSL encryption that provides end-to-end data encryption and data integrity for all web requests. When you login to ezSLP you will see 'HTTPS" in your web address. This means all data being transmitted to and from  <a href="http://policy.heroku.com/security">Heroku</a> is encrypted and secure.
<br/><br/>
<h2>How can this fantastic product be free?</h2>
<li>ezSLP is built on a <a href="http://en.wikipedia.org/wiki/Freemium">Freemium</a> model where a premium is charged for advanced features and functionality. Basic therapy management is free while future upgrades and additions to the system may have a fee associated with them.
</ul>
</div>
