<h2>Help Topics</h2>
<div id="procedures" class="accordion">
  <h3><a href="#">Visits</a></h3>
  <div>
    <p>A Visit is an electronic record of contact with a patient.</p>
    <p>A Visit includes the patient, the visit date, the length of the session in minutes and any associated notes.</p>
    <p>A visit date must be within the date range of a patients current authorization.</p>
    <p>When a Visit is saved it can be viewed in the Vists tab.</p>
    <p>Visits are archived when all Visits for an Authorization Period are exhausted.</p>
    <p>When visits have been exhauseted for a patients authorization period you much re-authorized that patient.</p>
    <p>Archived Visits can be viewed by clicking the 'Visits' link in the Patient Authorizations tab.</p>
  </div>
  <h3><a href="#">Patients</a></h3>
  <div>
    <p>A new Patient is created by clicking the 'New Patient' link at the bottom of the Patients tab.</p>
    <p>The authorization period for a patient is the expected time frame in which visits will be performed for this patient.</p>
    <p>The user that a patient is assigned to can perform visits for that patient.</p>
    <p>The number of visits is the number of visits you expect to perfrom for this patient.</p>
    <p>The User is the therapist that will perform visits for this patient.</p>
    <p></p>
  </div>
  <h3><a href="#">Patient Authorizations/Contract Periods</a></h3>
  <div>
    <p>A Patient Authorization or Contract Period is a way to manage patient contracts or medicare authorization periods.</p>
    <p>An Authorization Period is simply a date range in which visits will be performed.</p>
    <p>An initial Patient Authorization is created when a new patient is created.</p>
    <p>After a patients initial visits have been exhausted a patient will need to be re-authorized to perform additional visits.</p>
  </div>
  <h3><a href="#">Users</a></h3>
  <div>
    <p>Users for your organization are created in the 'Users' tab. </p>
    <p>An Admin user can create other users for their organization by clicking the 'New User' link in the 'Users' tab.</p>
    <p>The users email will be the username/login the user will use to login to the system.</p>
  </div>
  <h3><a href="#">Search for a Patient</a></h3>
  <div>
    <p>You can search for a patient by using the text box in the upper right hand corner of your browser window.</p>
    <p>Simply enter the patients first or last and and click the 'Search Patients' button.</p>
  </div>
  <h3><a href="#">Where did my Visits go?</a></h3>
  <div>
    <p>Visits are archived after all visits for an authorization period have been completed.</p>
    <p>To view archived visits go to the 'Patient Authorizations' tab and click the 'Visits' link to the far right of the patients name.</p>
    <p>This link allows you to view all visits associated with a patient for a give authorization period.</p>
  </div>
  <h3><a href="#">What is Patient Re-Authorization?</a></h3>
  <div>
    <p>After a paitients visits for a give authorization period have been exhausted a patient must be re-authorized.</p>
    <p>You may re-authorize a patient by clicking the 'Patient Authorizations' tab. Then click 'Re-Authorize a Patient'.</p>
    <p>Now choose the patient you with to re-authorize.</p>
  </div>
  <h3><a href="#">Calendar</a></h3>
  <div>
    <p>You can view all visits performed in your organization by clicking the 'Calendar' tab.</p>
    <p>To view a visit simply click the visit that appears on a particular day.</p>
  </div>
  <h3><a href="#">Roles</a></h3>
  <div>
    <p>Admin: System super users. This user can perform all functions within the system.</p>
    <p>Therapist: This user can only view and perform visits for patients assigned to them.</p>
  </div>
  <h3><a href="#">How can I quickly view all the visits for a patient?</a></h3>
  <div>
    <p>Visits are associated with patient authorizations.</p>
    <p>To view all visits associated with a patient authorization click 'Patient Authorizations and click the 'Vists' link to the far right of a patients name.</p>
  </div>
</div>
<h2>Screen Casts</h2>
<p>Intro to EZslp</p>
<iframe width="640" height="480" src="http://www.youtube.com/embed/jd3ko-eoQw0" frameborder="0" allowfullscreen></iframe>
