<h1>Where do I begin?</h1>
<ul>
<li>Start by going to the users tab and creating users for therapists and other employees in your clinic.<br/><br/>
<li>After creating users you may enter your patients and assign them to the appropriate therapist.<br/><br/>
<li>Your initial Patient Authorization (contract period) is created when you create a patient. After visits are
exhausted for the initial authorization period you can re-authorize that patient to create
additional visits.<br/><br/>
<li>For help topics and screencasts go to <a href="/help">Help Page</a><br/><br/>
<li>For support or feature requests email <a href="mailto:info@ezslp.com?Subject=Inquiry">info@ezslp.com</a>
</ul>
