<h2>A Case for Integration of Patient Apps and Patient Management</h2>
<h3>12 April 2012</h3>
<div class="entry">
<p>
Why are the apps we use in therapy sessions with our patients separate from the apps we use to manage our patients? Its all just data right? Why can't I engage in a session with a patient and have the results of that session automatically uploaded to the patient's file in my patient management system or EMR? We have the technology people...it ain't rocket science!
</p>
<p>
But before we reach this holy grail of integrated patient data a few things need to happen. First, the folks who write SLP apps need to make session data available to outside (third party) applications. This can be done a couple of ways. Either through a manual download, or a web integrated API (Application Programming Interface). The second method is preferable. Using an API would be seamless to the end user (you, the SLP/T). App writers would document their API, and make this available to the folks who write patient management apps(ezSLP). This, in turn, would give the folks that write patient management apps the ability to integrate the apps session data into their patient management program.
</p>
<p>
Issues related to security and data formats need to be addressed, but these are mostly trivial issues. App writers, the ball is in your court! Patient management software can’t integrate session data into their applications until you make it available to them. Additionally, this is a win for app writers because it gives your product a huge value add. Just think of the time it would save therapists. They complete a session on their IPad, and later in the day when they login to their patient management software, there is already a session created with results from that session recorded in the visit. The therapist can add a few notes, and they are done. Additionally, think of the value of historical data that can be gained from a patient who uses the same application over a given length of time, and our ability to look for trends in the patients results. This can tell us if we are truly making a difference in patient outcomes.
</p>
</div>
